<div id="header">
  <a href="https://www.microsoft.com/en-us/store/p/instagram/9nblggh5l9xt">
    <span>Instagram</span>
    <span>Tìm miễn phí trên Windows Store.</span>
  </a>
</div>
<div>
  <div class="lib col-lg-6 d-none d-md-block">
    <div class="images col-lg-12 offset-3">
      <img src="../../assets/images/2debbd5aaab8.jpg" alt="image1" id="image1">
      <!-- <img src="../../assets/images/48fc753e7712.jpg" alt="image2">
      <img src="../../assets/images/783de51ff073.jpg" alt="image3">
      <img src="../../assets/images/8e431a88ffdd.jpg" alt="image4">
      <img src="../../assets/images/9cb9ba2dda6a.jpg" alt="image5"> -->
    </div>
  </div>
  <div class="content col-12">
    <div class="form">
      <img src="../../assets/images/Instagram_logo.svg.png" alt="Instagram">
      <span>Đăng kí để xem ảnh và video từ bạn bè</span>
      <button class="btn btn-primary">
        <i class="fab fa-facebook"></i>
        Đăng nhập bằng Facebook
      </button>
      <div class="hline">
        <span>HOẶC</span>
      </div>
      <input type="text" class="form-control" id="email" placeholder="Số di động hoặc email" [(ngModel)]="email">
      <input type="text" class="form-control" id="fullname" placeholder="Tên đầy đủ" [(ngModel)]="fullname">
      <input type="text" class="form-control" id="username" placeholder="Tên người dùng" [(ngModel)]="username">
      <input type="password" class="form-control" id="password" placeholder="Mật khẩu" [(ngModel)]="password">
      <button class="btn btn-primary" (click)="log()">Đăng ký</button>
      <div class="condition">
        Bằng cách đăng kí, bạn đồng ý với
        <a href="https://help.instagram.com/478745558852511">Điều khoản</a>
        và
        <a href="https://help.instagram.com/155833707900388">Chính sách quyền riêng tư</a>
        của chúng tôi.
      </div>
    </div>
    <div class="login">
      <span>Bạn có tài khoản?
        <a href="https://www.instagram.com/accounts/login/">Đăng nhập</a>
      </span>
    </div>
    <span>Tải ứng dụng</span>
    <!-- <div class="logo">
      <a href="https://itunes.apple.com/app/instagram/id389801252?mt=8">
        <div id="apple">
          <i class="fab fa-apple"></i>
          <span>Tải về trên</span>
          <span>Appstore</span>
        </div>
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DsignupPage%26utm_medium%3Dbadge">
        <div id="google-play">
          <i class="fab fa-google-play"></i>
          <span>Tải nội dung trên</span>
          <span>Google Play</span>
        </div>
      </a>
      <a href="https://www.microsoft.com/en-us/store/p/instagram/9nblggh5l9xt">
        <div id="microsoft">
          <i class="fab fa-microsoft"></i>
          <span>Nhận về từ</span>
          <span>Microsoft</span>
        </div>
      </a>
    </div> -->
  </div>
</div>